/* Tablet style */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navigation-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headers-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
  }

  .navigation-link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--hover-focus);
    border-radius: 2px;
    opacity: 0;
  }

  .navigation-link.current {
    color: var(--hover-focus);
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .navigation-link.current::after,
  .navigation-link:hover::after,
  .navigation-link:focus::after {
    color: var(--hover-focus);
    opacity: 1;
  }

  /* Hero Image section */

  .hero-image {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(to bottom, #2e2f42b3, #2e2f42b3),
      url(../images/people-office-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-image {
      background-image: linear-gradient(to bottom, #2e2f42b3, #2e2f42b3),
        url(../images/people-office-tablet@2x.jpg);
    }
  }

  .hero-image-title {
    color: var(--primary-bg);
    margin-bottom: 36px;
    max-width: 496px;
    text-transform: none;
    font-size: 56px;
    line-height: 1.1;
  }

  /* Features section */

  .feature-list {
    gap: 72px 24px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  /* Team section */

  .our-team-list {
    gap: 64px 24px;
  }

  /* Portfolio */

  .our-portfolio-list {
    gap: 72px 24px;
  }

  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* Footer */

  .footer-container {
    gap: 72px 24px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-social-title,
  .footer-logo {
    text-align: left;
  }

  .footer-subscribe-box {
    max-width: 453px;
  }

  .footer-social-box {
    margin: 0;
  }

  .footer-form {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .page-footer-text {
    max-width: 264px;
  }
  .footer-form-input {
    margin-bottom: 0;
    width: 264px;
  }

  /* modal_window */

  .modal {
    width: 408px;
    min-height: 584px;
  }
}
